{% include "header.html" %}
<div class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
        <h1>It seems something has gone wrong!</h1>
        <p class="lead">{{error}}, you can take the link below to return to the home page.</p>
        <p class="lead">
            <a href="{{url_for('home')}}" class="btn btn-lg btn-light fw-bold border-white bg-white">Return home</a>
        </p>
        </main>
    </div>
</div>
{% include "footer.html" %}