<!DOCTYPE html>
<html lang="en-us">
    
    <head>
        <title>The Grimmoire infinitum</title>
        <meta charset="UTF-8">
        {{ bootstrap.load_css() }}
        <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
    </head>
    <body>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <span class="fs-4">The Grimmoire Infinitum</span>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Rulebooks</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Miniatures</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Dice and Accessories</a></li>
                    </ul>

                    {% if current_user.is_authenticated %}
                    <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{current_user.username}}</a>
                    <ul class="dropdown-menu text-small">
                        {% if current_user.role=="admin" or current_user=="employee" %}
                            {% if current_user.role=="admin" %}
                            <li><a class="dropdown-item" href="{{ url_for('user_control_panel') }}">User control panel</a></li>
                            {% endif %}
                        <li><a class="dropdown-item" href="{{ url_for('product_control_panel') }}">Product control panel</a></li>
                        {% endif %}
                        {% if current_user.role=="user" %}
                        <li><a class="dropdown-item" href="#">Shopping Cart</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('show_user_details', user_id=current_user.id) }}">User settings</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                    </div>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="nav-link px-2 link-body-emphasis">Login</a>
                    <a href="{{ url_for('register') }}" class="nav-link px-2 link-body-emphasis">Register</a>
                    {% endif %}
                </div>
            </div>
        </header>