<!DOCTYPE html>
<html lang="en-us">
    
    <head>
        <title>The Grimmoire infinitum</title>
        <meta charset="UTF-8">
        {{ bootstrap.load_css() }}
        <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
    </head>
    <body>
        <header class="d-flex flex-wrap justify-content-center justify-content-md-between py-3 px-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <span class="fs-4">The Grimmoire Infinitum</span>
                </a>
            </div>
            <ul class="nav nav-pills gap-2">
                {% if current_user.role=="admin" %}
                <li class="nav-item"><a href="{{ url_for('user_control_panel') }}" class="btn btn-primary">User control panel</a></li>
                {% endif %}
                {% if current_user.role=="admin" or current_user.role=="employee" %}
                <li class="nav-item"><a href="{{ url_for('product_control_panel') }}" class="btn btn-primary">Products control panel</a></li>
                {% endif %}

                {% if not current_user.is_authenticated %}
                <li class="nav-item"><a href="{{ url_for('login') }}" class="btn btn-primary">Login</a></li>
                <li class="nav-item"><a href="{{ url_for('register') }}" class="btn btn-primary">Register</a></li>
                {% else %}
                {% if current_user.role=="user" %}
                <li class="nav-item"><a href="#" class="btn btn-primary">Shopping Cart</a></li>
                {% endif %}
                <li class="nav-item"><a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a></li>
                <span>Welcome back {{current_user.username}}!</span>
                {% endif %}
            </ul>
        </header>