{% include "header.html" %}
<div class="px-5">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-product-modal">Add product</button>
  <div class="modal fade" id="add-product-modal" tabindex="-1" aria-labelledby="add-product-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="add-product-modal-label">Add product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="add-product" action="{{url_for('product_control_panel')}}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
          <div class="modal-body">
            <div class="mb-3">
              {{ form.name.label(class="form-label", for="name") }}
              {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.price.label(class="form-label", for="price") }}
              {{ form.price(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.stock.label(class="form-label", for="stock") }}
              {{ form.stock(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.category.label(class="form-label", for="category") }}
              {{ form.category(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.image.label(class="form-label", for="image") }}
              {{ form.image(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.description.label(for="description") }}
              {{ form.description(class="form-control", style="resize: none;height: 20em") }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {{ form.submit(class="btn btn-primary", id="add-product-submit") }}
          </div>
        </form>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">UID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Stock</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products: %}
        <tr>
          <td id="product-uid-{{product.id}}" scope="row">{{product.product_uid}}</td>
          <td id="product-name-{{product.id}}" scope="row">{{product.name}}</td>
          <td id="product-price-{{product.id}}" scope="row">{{product.price}}</td>
          <td id="product-category-{{product.id}}" scope="row">{{product.category}}</td>
          <td id="product-stock-{{product.id}}" scope="row">{{product.stock}}</td>
          <td>
            <button id="edit-stock-modal-button-{{product.id}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-stock-modal-{{product.id}}">Edit stock</button>
            <button id="edit-product-modal-button-{{product.id}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-product-modal-{{product.id}}">Edit product</button>
            <a id="delete-product-{{product.product_uid}}" href="{{url_for('delete_product', product_id=product.id)}}" class="btn btn-danger">Delete product</a>
          </td>
        </tr>
      </tbody>
      <div class="modal fade" id="edit-product-modal-{{product.id}}" tabindex="-1" aria-labelledby="edit-product-modal-{{product.id}}-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="edit-product-modal-{{product.id}}-label">Edit product</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- https://stackoverflow.com/questions/19161093/convert-integer-to-string-jinja -->
            <!-- https://stackoverflow.com/questions/67131505/adding-selectqueryfield-id-attribute-in-jinja2 -->
            <!-- https://stackoverflow.com/questions/49861233/jinja2-concatenate-string-to-get-values-to-input -->
            <!-- each edit modal has it's own unique name based on db id, maybe swap to product uid? -->
            <!-- Solution pieced together with the 3 SO questions -->
            <!-- No, it's not clean, but it works -->
            <form id="edit-product-{{product.id}}" action="{{url_for('edit_product', product_id=product.id)}}" method="post" enctype="multipart/form-data">
              <div class="modal-body">
                {{ form.csrf_token }}
                <div class="mb-3">
                  {{ form.name.label(class="form-label", for="edit-name-"+product.id|string) }}
                  {{ form.name(id="edit-name-"+product.id|string, class="form-control") }}
                </div>
                <div class="mb-3">
                  {{ form.price.label(class="form-label", for="edit-price-"+product.id|string) }}
                  {{ form.price(id="edit-price-"+product.id|string, class="form-control") }}
                </div>
                <div class="mb-3">
                  {{ form.stock.label(class="form-label", for="edit-stock-"+product.id|string) }}
                  {{ form.stock(id="edit-stock-"+product.id|string, class="form-control") }}
                </div>
                <div class="mb-3">
                  {{ form.category.label(class="form-label", for="edit-category-"+product.id|string) }}
                  {{ form.category(id="edit-category-"+product.id|string, class="form-select") }}
                </div>
                <div class="mb-3">
                  {{ form.image.label(class="form-label", for="edit-image-"+product.id|string) }}
                  {{ form.image(id="edit-image-"+product.id|string, class="form-control") }}
                </div>
                <div class="mb-3">
                  {{ form.description.label(class="form-label", for="edit-description-"+product.id|string) }}
                  {{ form.description(id="edit-description-"+product.id|string, class="form-control", style="resize: none;height: 20em") }}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ form.submit(class="btn btn-primary", id="edit-product-submit-"+product.id|string) }}
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal fade" id="edit-stock-modal-{{product.id}}" tabindex="-1" aria-labelledby="edit-stock-modal-{{product.id}}-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="edit-stock-modal-{{product.id}}-label">Edit product</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="edit-stock-form-{{product.id}}" action="{{url_for('edit_product_stock', product_id=product.id)}}" method="post">
              <div class="modal-body">
                {{ form.csrf_token }}
                <div class="mb-3">
                  {{ form.stock.label(class="form-label", for="edit-stock-"+product.id|string) }}
                  {{ form.stock(id="edit-stock-quick-"+product.id|string, class="form-control") }}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ form.submit(class="btn btn-primary", id="edit-stock-submit-"+product.id|string) }}
              </div>
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $("#delete-product-{{product.product_uid}}").click(function(event){
          event.preventDefault();
          let delConfirm = confirm("Do you want to delete this product?")
          if(delConfirm==true){
            $.get(
              $(this).attr("href"),
              {},
              function(data){
                location.reload();
                alert("Product UID {{product.product_uid}} has been deleted")
              }
            )
          }
        })

        $("#edit-product-modal-button-{{product.id}}").click(function(event){
          event.preventDefault();

          $.get(
            "{{url_for('edit_product', product_id=product.id)}}",
            {},
            function(data){
              // cannot set image field, so we change label to prompt overwrite
              $("[for='edit-image-{{product.id}}']").text("Image - Upload new image to overwrite old one")
              $("#edit-name-{{product.id}}").val(data.product.name)
              $("#edit-price-{{product.id}}").val(data.product.price)
              $("#edit-stock-{{product.id}}").val(data.product.stock)
              $("#edit-description-{{product.id}}").val(data.product.description)
              $("#edit-category-{{product.id}}").val(data.product.category)
            }
          )
        })

        $("#edit-stock-modal-button-{{product.id}}").click(function(event){
          event.preventDefault();

          $.get(
            "{{url_for('edit_product_stock', product_id=product.id)}}",
            {},
            function(data){
              $("#edit-stock-quick-{{product.id}}").val(data.product.stock)
            }
          )
        })

        $("#edit-stock-form-{{product.id}}").submit(function(event){
          event.preventDefault();
          $.ajax({
            data: $(this).serialize(),
            type: "POST",
            url: $(this).attr("action")
          }).done(function(data){
            $("#product-stock-{{product.id}}").text(data.product.stock)
            $("#edit-stock-modal-{{product.id}}").modal("hide")
          })
        })

        $("#edit-product-{{product.id}}").submit(function(event){
          event.preventDefault();
          $.post(
            $(this).attr("action"),
            $(this).serialize(),
            function(data){
              location.reload();
              alert("Product {{product.product_uid}} has been updated")
            }
          )
        });
      </script>
      {% endfor %}
  </table>

</div>
{% include "footer.html" %}