{% include "header.html" %}
<!-- https://mdbootstrap.com/docs/standard/extended/shopping-carts/#section-2 -->
<section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{cart|length}} items</h6>
                    </div>
                    <hr class="my-4">
  
                    <!-- Shopping cart list start -->
                    <!-- item["productref"] == product -->
                    <!-- item["cartobj"] == item in cart -->
                    {% if cart|length == 0 %}
                    <h2>Your cart is currently empty!</h2>
                    {% else %}
                    <script type="text/javascript">
                      const formatter = new Intl.NumberFormat('en-US',{
                        style:"currency",
                        currency:"USD"
                      })
                    </script>
                        {% for item in cart %}
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <!-- <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                            class="img-fluid rounded-3" alt="Cotton T-shirt"> -->
                        </div>
                        <!-- Titles -->
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">{{item["productref"].name}}</h6>
                            <h6 class="text-black mb-0">{{item["productref"].category}}</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <!-- <button id="minus-quant-{{item['cartobj'].id}}" class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus">-</i>
                            </button> -->

                            <input id="quantity-{{item['cartobj'].id}}" min="0" name="quantity" value="{{item['cartobj'].quantity}}" type="number"
                            class="form-control form-control-sm" />

                            <!-- <button id="add-quant-{{item['cartobj'].id}}" class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus">+</i>
                            </button> -->
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <!-- item+quantity subtotal -->
                            <h6 id="item-subtotal-{{item['cartobj'].id}}" class="mb-0">$ {{ '{0:.2f}'.format(item["productref"].price * item["cartobj"].quantity)}}</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <button id="remove-cart-{{item['cartobj'].id}}" class="text-muted"><i class="fas fa-times">Remove</i></a>
                        </div>
                        </div>
                        <script text="text/javascript">
                          $("#quantity-{{item['cartobj'].id}}").change(function(event){
                            event.preventDefault();

                            $.ajax({
                              data: JSON.stringify({
                                "cart_id":"{{item['cartobj'].id}}",
                                "quantity":$(this).val()
                              }),
                              type: "POST",
                              url: "{{url_for('change_product_quantity')}}",
                              contentType: "application/json",
                              accepts: "application/json"
                            }).done(function(data){
                              let subtotal = formatter.format((parseFloat("{{item['productref'].price}}")*parseFloat(data.new_quantity)))
                              $("#item-subtotal-{{item['cartobj'].id}}").text(subtotal)
                            })
                          })
                        </script>
                        {% endfor %}
                    <hr class="my-4">
                    {% endif %}
                    <!-- Shopping cart list end -->
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">items {{cart|length}}</h5>
                      <h5>$ 132.00</h5>
                    </div>
                    
                    <!-- TODO shipping ? -->
                    <h5 class="text-uppercase mb-3">Shipping</h5>
  
                    <div class="d-flex justify-content-between mb-4">
                        <h6 class="text-uppercase">Standard delivery</h6>
                        <h5>$ 20.00</h5>
                      </div>
  
                    <!-- <h5 class="text-uppercase mb-3">Give code</h5>
  
                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                      </div>
                    </div> -->
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>€ 137.00</h5>
                    </div>
  
                    <button type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark">Checkout</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% include "footer.html" %}