{% include "header.html" %}
<div class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
        <h1>Thank you for your purchase!</h1>
        <p class="lead">We're currently protecting your purchase with black magic to ensure your goods arrive unharmed.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Check your order status here</a>
        </p>
        </main>
    </div>
</div>
{% include "footer.html" %}