{% include "header.html" %}
<script type="text/javascript">
  // Adapted from https://github.com/jackocnr/intl-tel-input/issues/921
  // Also using jQuery document.ready to make loop run on page load
  $(document).ready((event)=>{
    window.intlTelInputGlobals.loadUtils("https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js");
    let editAddresses = document.querySelectorAll(".edit-address-number")
    for(let i=0;i<editAddresses.length;i++){
      EditIntlConverter(editAddresses[i])
    }
  })
</script>
<div class="card mb-4">
  <button id="edit-customerdetails-button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#edit-customerdetails-modal">Edit details</button>
  <a href="{{url_for('change_password')}}" class="btn btn-primary w-100">Change password</a>  
  <div class="card-body text-center">
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.customerDetails.first_name.title()}} {{user.customerDetails.last_name.title()}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Date of Birth</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.customerDetails.date_of_birth}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Phone Number</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.customerDetails.phone_number}}</p>
            </div>
        </div>
        <hr>
    </div>
    <!-- Edit details modal -->
    <div class="modal fade" id="edit-customerdetails-modal" tabindex="-1" aria-labelledby="edit-customerdetails-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="edit-customerdetails-modal-label">Edit details </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="edit-customerdetails" action="{{url_for('edit_user_details')}}" method="post" novalidate>
            <div class="modal-body">
              {{detailform.csrf_token}}
            <div class="mb-3">
                {{detailform.first_name.label}}
                {{detailform.first_name(class="form-control")}}
              </div>
            <div class="mb-3">
                {{detailform.last_name.label}}
                {{detailform.last_name(class="form-control")}}
              </div>
            <div class="mb-3">
                {{detailform.date_of_birth.label}}
                {{detailform.date_of_birth(class="form-control")}}
              </div>
            <div class="mb-3 input-group">
                {{detailform.phone_number.label(for="_phone_number", class="input-group-text")}}
                {{detailform.phone_number(class="form-control")}}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              {{detailform.submit(id="edit-customerdetails-submit", class="btn btn-primary")}}
            </div>
          </form>
          <script text="text/javascript">

          </script>
        </div>
      </div>
    </div>
</div>
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <main class="w-100 m-auto">
    <button id="add-user-address" class="btn btn-primary w-100 my-3 py-2" data-bs-toggle="modal" data-bs-target="#add-address-modal">Add new address</button>
    {% if user.customerDetails.addresses|length != 0 %}
    <div class="accordion" id="address-accordion">
      {% for address in user.customerDetails.addresses %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#address-collapse-{{address.id}}" aria-expanded="false" aria-controls="#address-collapse-{{address.id}}">
              <address id="address-brief-{{address.id}}">
                {{address.address_one}}<br>
                {{address.address_two}}<br>
                {{address.city}}<br>
              </address>
            </button>
          </h2>
          <div id="address-collapse-{{address.id}}" class="accordion-collapse collapse" data-bs-parent="#address-accordion">
            <div class="accordion-body">
              <!-- https://www.w3resource.com/twitter-bootstrap/examples/twitter-bootstrap-address-example.php -->
              <address id="address-{{address.id}}">
                <strong>{{current_user.customerDetails.first_name}} {{current_user.customerDetails.last_name}}</strong><br>
                {{address.address_one}}<br>
                {{address.address_two}},<br>
                {% if address.state != "" %}
                  {{address.state}},<br>
                {% endif %}
                {{address.city}},<br>
                {{address.country}},<br>
                {{address.postcode}}<br>
                Phone number: {{address.phone_number}}<br>

              </address>
              <button id="edit-user-address-{{address.id}}" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#edit-address-modal-{{address.id}}">Edit address</button>
              <a href="{{url_for('delete_address', address_id=address.id)}}" id="delete-address-{{address.id}}" class="btn btn-danger w-100">Delete address</a>
            </div>
          </div>
        </div>
        <!-- Edit modal -->
        <div class="modal fade" id="edit-address-modal-{{address.id}}" tabindex="-1" aria-labelledby="edit-address-modal-label-{{address.id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="edit-address-modal-label-{{address.id}}">Add address</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form id="edit-address-{{address.id}}" action="{{url_for('edit_address', address_id=address.id)}}" method="post">
                <div class="modal-body">
                  {{form.csrf_token}}
                  <div class="mb-3">
                      {{form.address_one.label(for="edit-address_one-"+address.id|string)}}
                      {{form.address_one(id="edit-address_one-"+address.id|string, class="form-control")}}
                  </div>
                  <div class="mb-3">
                      {{form.address_two.label(for="edit-address_two-"+address.id|string)}}
                      {{form.address_two(id="edit-address_two-"+address.id|string, class="form-control")}}
                  </div>
                  <div class="mb-3">
                      {{form.country.label(for="edit-address_country"+address.id|string)}}
                      {{form.country(id="edit-country-"+address.id|string, class="form-control")}}
                  </div>
                  <div class="mb-3">
                      {{form.state.label(for="edit-state-"+address.id|string)}}
                      {{form.state(id="edit-state-"+address.id|string, class="form-control")}}
                  </div>
                  <div class="mb-3">
                      {{form.city.label(for="edit-city-"+address.id|string)}}
                      {{form.city(id="edit-city-"+address.id|string, class="form-control")}}
                  </div>
                  <div class="mb-3">
                      {{form.postal_code.label(for="edit-postal_code-"+address.id|string)}}
                      {{form.postal_code(id="edit-postal_code-"+address.id|string, class="form-control")}}
                  </div>
                  <div class="mb-3">
                      {{form.same_number(id="edit-same_number-"+address.id|string)}}
                      {{form.same_number.label(for="edit-same_number-"+address.id|string)}}
                  </div>
                  <div class="mb-3">
                      {{form.phone_number.label(for="_edit-phone_number-"+address.id|string)}}
                      {{form.phone_number(id="edit-phone_number-"+address.id|string, class="form-control edit-address-number")}}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  {{ form.submit(id="edit-address-submit-{{address.id}}", class="btn btn-primary") }}
                </div>
              </form>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          $("#edit-user-address-{{address.id}}").click(function(event){
            event.preventDefault();

            $.get(
              "{{url_for('edit_address', address_id=address.id)}}",
              {},
              function(data){
                $("#edit-address-modal-label-{{address.id}}").text("Edit address")
                $("#edit-address_one-{{address.id}}").val(data.address.address_one)
                $("#edit-address_two-{{address.id}}").val(data.address.address_two)
                $("#edit-state-{{address.id}}").val(data.address.state)
                $("#edit-city-{{address.id}}").val(data.address.city)
                $("#edit-postal_code-{{address.id}}").val(data.address.postal_code)
                $("#edit-country-{{address.id}}").val(data.address.country)
                //init intl tel input and set number to update
                editAddressPhoneIti = window.intlTelInput(document.getElementById("_edit-phone_number-{{address.id}}"), {
                  separateDialCode: true,
                  utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
                })
                editAddressPhoneIti.setNumber(data.address.phone_number)
                //jQuery works, vanilla should work as well but eh
                $("#_edit-phone_number-{{address.id}}").on("blur", function() {
                  $("#edit-phone_number-{{address.id}}").val(editAddressPhoneIti.getNumber())
                })
              }
            )

          })
          
          $("#edit-address-{{address.id}}").submit(function(event){
            event.preventDefault();

            if($("#_edit-phone_number-{{address.id}}").attr("disabled")){
              $("#_edit-phone_number-{{address.id}}").removeAttr("disabled")
            }

            $.post(
              "{{url_for('edit_address', address_id=address.id)}}",
              $(this).serialize(),
              function(data){
                location.reload()
                alert("Address has been updated")
              }
            )
          })

          $("#delete-address-{{address.id}}").click(function(event){
            event.preventDefault();
            let delConfirm = confirm("Do you want to delete this address?")
            if(delConfirm==true){
              $.get(
                $(this).attr("href"),
                {},
                function(data){
                  location.reload();
                  alert("Address has been deleted")
                }
              )
            }
          })

          $("#edit-same_number-{{address.id}}").change((event)=>{
            event.preventDefault();

            // https://stackoverflow.com/questions/43446641/jquery-attribute-exists-or-not
            if(!($("#_edit-phone_number-{{address.id}}").attr("disabled"))){
              $("#_edit-phone_number-{{address.id}}").attr("disabled", true)
              editAddressPhoneIti.setNumber("{{user.customerDetails.phone_number}}")
            }else{
              $("#_edit-phone_number-{{address.id}}").removeAttr("disabled")
              editAddressPhoneIti.setNumber("{{address.phone_number}}")
            }
          })
        </script>
        {% endfor %}
    </div>
    {% else %}
    <h1 class="h3 text-center">You have not saved any addresses</h1>
    <h1 class="h3 text-center">Please add one us
    {% endif %}
    </main>
    <div class="modal fade" id="add-address-modal" tabindex="-1" aria-labelledby="add-address-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="add-address-modal-label">Add address</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="add-address" action="{{url_for('add_address')}}" method="post">
              {{form.csrf_token}}
              <div class="modal-body">
                <div class="mb-3">
                    {{form.address_one.label}}
                    {{form.address_one(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.address_two.label}}
                    {{form.address_two(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.country.label}}
                    {{form.country(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.state.label}}
                    {{form.state(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.city.label}}
                    {{form.city(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.postal_code.label}}
                    {{form.postal_code(class="form-control")}}
                </div>
                <div class="mb-3">
                    {{form.same_number}}
                    {{form.same_number.label}}
                </div>
                <div class="mb-3 input-group">
                    {{form.phone_number.label(for="_address-phone_number", class="input-group-text")}}
                    {{form.phone_number(id="address-phone_number", class="form-control")}}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
<!-- TODO scripts for post/ajax -->
<script type="text/javascript">
    //https://www.twilio.com/blog/a-phone-number-input-field-for-flask-forms
    //Hidden works, so set hidden and setup phone field to insert
    //Everything done here instead of in func load because easier
    detailsPhoneField = document.getElementById("phone_number")
    detailsPhoneField.setAttribute("hidden", true)
    detailsPhoneField.parentElement.insertAdjacentHTML('beforeend', '<input type="tel" id="_phone_number" class="form-control">');
    let IntlDetailPhoneField = document.getElementById('_phone_number');
  
    addAddressPhoneField = document.getElementById("address-phone_number")
    addAddressPhoneField.setAttribute("hidden", true)
    addAddressPhoneField.parentElement.insertAdjacentHTML("beforeend", "<input type='tel' id='_address-phone_number' class='form-control'>");
    let IntlAddressPhoneField = document.getElementById("_address-phone_number")
    let addAddressPhoneIti = window.intlTelInput(IntlAddressPhoneField, {
      separateDialCode: true,
      utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
    });

    $("#add-address").submit(function(event){
      event.preventDefault();
      // https://stackoverflow.com/questions/6162573/jquery-form-serialize-returns-an-empty-string
      // Can't be disabled to submit properly
      if($("#_address-phone_number").attr("disabled")){
        $("#_address-phone_number").removeAttr("disabled")
      }

      //just update it lmao
      $("#address-phone_number").val(addAddressPhoneIti.getNumber())

      $.post(
        "{{url_for('add_address')}}",
        $(this).serialize(),
        function(data, status){
          if(status){
            alert("Address has been added")
            location.reload()
          }
        }
      )
    })

    $("#same_number").change((event)=>{
      event.preventDefault();
      // https://stackoverflow.com/questions/43446641/jquery-attribute-exists-or-not
      if(!($("#_address-phone_number").attr("disabled"))){
        $("#_address-phone_number").attr("disabled", true)
        addAddressPhoneIti.setNumber("{{user.customerDetails.phone_number}}")
      }else{
        $("#_address-phone_number").removeAttr("disabled")
        addAddressPhoneIti.setNumber("")
        addAddressPhoneIti.setCountry("us")
      }
    })

    $("#edit-customerdetails-button").click((event)=>{
      event.preventDefault()
      $.get(
        "{{url_for('edit_user_details')}}",
        {},
        (data)=>{
          $("#first_name").val(data.customerDetails.first_name)
          $("#last_name").val(data.customerDetails.last_name)
          $("#date_of_birth").val(data.customerDetails.dob)

          //init and populate field
          let detailsPhoneIti = window.intlTelInput(IntlDetailPhoneField, {
            separateDialCode: true,
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
          });
          detailsPhoneIti.setNumber(data.customerDetails.phone_number)
          IntlDetailPhoneField.addEventListener('blur', function() {
            $("#phone_number").val(detailsPhoneIti.getNumber())
          });
        }
      )
    })

    $("#edit-customerdetails").submit(function(event){
      event.preventDefault();

      $.post(
        "{{url_for('edit_user_details')}}",
        $(this).serialize(),
        function(data){
          alert("Your details have been updated!")
          location.reload()
        }
      )
    })
    // TODO see https://github.com/jackocnr/intl-tel-input/issues/921
    // Only take parts for replacing wtform field with new input field
    function EditIntlConverter(input){
      let editAddressPhoneField = input
      let pseudoId = editAddressPhoneField.getAttribute("id") //get id
      editAddressPhoneField.setAttribute("hidden", true)
      editAddressPhoneField.parentElement.insertAdjacentHTML('beforeend', `<input type="tel" id="_${pseudoId}" class="form-control">`);
    }
</script>
{% include "footer.html" %}